<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id ="app">
        {{ message }}
    </div>

    <div id = "app-2">
        <span v-bind:title="message">
            마우스를 올리면 동적으로 바인딩 된 title을 볼 수 있습니다!
        </span>
    </div>

    <div id = "app-3">
        <p v-if="seen">이게 보일까요?</p>
    </div>

    <div id = "app-4">
        <ol>
            <li v-for='todo in todos'>
                {{ todo.text }}
            </li>
        </ol>
    </div>

    <div id = "app-5">
        <p>{{ msg }}</p>
        <button v-on:click="reverseMessage">메세지 뒤집기</button>
    </div>

    <div id = "app-6">
        <p> {{ message }} </p>
        <input v-model="message">
    </div>

    <ol>
        <todo-item></todo-item>
    </ol>

    <div id = "app-7">
        <ol>
            <todo-item
            v-for='item in grocerylist'
            v-bind:todo="item"
            v-bind:key='item.id'>
        </todo-item>
        </ol>
    </div>

    <div id = "app-8">
        <p>{{ foo }}</p>
        <button v-on:click="foo = 'baz'">Change it</button>
    </div>

    <div id = "example">

    </div>

    <div id = "app-9">
        <span>메세지 : {{ msg }}</span>
        <span v-once>변경없음 : {{ msg }}</span>
    </div>

    <div id = "rawhtml">
        <p>Using mustaches: {{ rawHtml }}</p>
        <p>Using v-html directive: <span style="color:red" v-html="rawHtml">This should be red.</span></p>
    </div>    

<script>
var date = new Date()
var month = date.getMonth()+1
var day = date.getDate()
var dayOfWeek = date.getDay


var app = new Vue({
el: '#app',
data : {
    message : '안녕하세요 Vue! 오늘은 '+ month +'월 '+ day + '일입니다.'
}
})

var app2 = new Vue({
    el: '#app-2',
    data: {
        message : '이 페이지는 ' + new Date() + ' 에 로드되었습니다.'
    }
})

var app3 = new Vue({
    el: '#app-3',
    data : {
        seen: false
    }
})

var app4 = new Vue({
    el: '#app-4',
    data : {
        todos : [
            { text: 'JavaScript 배우기'},
            { text: 'Vue 배우기'},
            { text: '무언가 멋진 것을 만들기'}
        ]
    }
})

var app5 = new Vue({
    el: '#app-5',
    data: {
        msg: 'Hello! Vue.js'
    },
    methods: {
        reverseMessage: function() {
            this.msg = this.msg.split('').reverse().join('')
        }
    }
})

var app6 = new Vue({
    el: '#app-6',
    data : {
        message: '아무거나 입력해 보세요!'
    }
})

Vue.component('todo-item', {
    template:'<li>할일 항목 하나입니다.</li>'
})

Vue.component('todo-item', {
    props: ['todo'],
    template: '<li>{{ todo.text }}</li>'
})

var app7 = new Vue({
    el: '#app-7',
    data : {
        grocerylist: [
            { id: 0, text: 'Vegetables' },
            { id: 1, text: 'Cheese'},
            { id: 2, text: 'Whatever else humans are supposed to eat'}
        ]
    }
})

var data = { a: 1 }
var vm = new Vue({
    el: '#example',
    data: data
})
vm.a === data.a
vm.a = 2
data.a = 2

data.a = 3
vm.a = 3

vm.b = 'hi'

var obj = {
    foo: 'bar'
}

//freeze를 부르면 데이터가 변하지 않는다!
Object.freeze(obj)

new Vue({
    el: '#app-8',
    data: obj
})

vm.$data === data
if(vm.$el === document.getElementById('example')){
    console.log(vm.$el === document.getElementById('example'))

}
vm.$watch('a', function (newVal, oldVal){
    console.log(oldVal)
})

var rawHtml = new Vue({
    el: '#rawHtml',
    data: {
        rawHtml: 'This should be red.'
    }
})

</script>
</body>
</html>