<!DOCTYPE html>
<html lang="ko">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
        .demo {
            width : 100px;
            height : 100px;
            background-color:grey;
            display: inline-block;
            text-align: center;
            margin: 10px;
        }

        .red {
            background-color: red;
        }

        .green {
            background-color: green;
        }

        .blue {
            background-color: blue;
        }
        </style>
        <script src="https://unpkg.com/vue"></script>
    </head>
    <body>
        <div id="component">
            <h3>Component example</h3>
            <ol>
                <todo-item
                v-for="item in groceryList"
                v-bind:todo="item"
                v-bind:key="item.id">
            </todo-item>
            </ol>
        </div>

        <div id="watch">
            <h3>Vue.js Watch!</h3>
            <h5>Count : {{ test }}</h5>
            <button v-on:click="test +=1">Add +1</button>

        </div>

        <div id="computed">
            <h5>Computed: {{ test }}</h5>
            <button v-on:click="test +=1">Add +1</button>
        </div>

        <div id="app">
            <div class="demo"
            @click="attachRed = !attachRed"
            :class="{red: attachRed, green: !attachRed}">1</div>

            <div 
            class="demo"
            :class="color">2</div>

            <div class="demo"
            class="divClasses">3</div>
        </div>

        <div>
            2번 상자의 색: <input type="text" v-model="color">
        </div>

        <div id="class">
            <!-- click 시 attachRed true/false 변경 -->
            <!-- :class로 object를 바인딩-->
            <div 
              class="demo"
              @click="attachRed = !attachRed" 
              :class="{red: attachRed, green: !attachRed}"
              class="demo"
            >1</div>
            
            <div 
              class="demo"
              :class="color"
            >2</div>
            
            <div 
              class="demo"
              :class="divClasses"
            >3</div>
            
            
            
            <div>
              2번 상자의 색: <input type="text" v-model="color">  
            </div>
          </div>

        <script>
            Vue.component('todo-item', {
                props: ['todo'],
                template: '<li>{{todo.text}}</li>'
            })

            var component = new Vue({
                el: '#component',
                data: {
                    groceryList: [
                        { id: 0, text: '고추장'},
                        { id: 1, text: '고수'},
                        { id: 2, text: '오이'},
                        { id: 3, text: '할라피뇨'}                        
                    ]
                }
            })

            var count = { test: 0 };
            var compute = { test : 1 };

            var watch = new Vue({
                el : '#watch',
                data : count,
                created: function () {
                    console.log('test is: ' + this.test)
                }
            })

            watch.$watch('test', function(newVal, oldVal){
                if(newVal == 10){
                    alert('10회 누름!')
                }
            })

            var computed = new Vue({
                el : '#computed',
                data : compute,
                computed: {
                    hello : function(){                    
                    return test+1
                }
            }
        })

        new Vue({
            el: '#class',
            data: {
                attachRed: false,
                color: 'green'
            },
            computed: {
                divClasses: function() {
                    return {
                        red: this.attachRed,
                        green : !this.attachRed
                    }
                }
            }
        })  
        </script>
    </body>
</html>