<!DOCTYPE html>
<html lang="ko">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
        .demo {
            width : 100px;
            height : 100px;
            background-color:grey;
            display: inline-block;
            text-align: center;
            margin: 10px;
        }

        .red {
            background-color: red;
        }

        .green {
            background-color: green;
        }

        .blue {
            background-color: blue;
        }

        .httptest {
            background-color: #ffffff;
        }
        </style>
        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div id="component">
            <h3>Component example</h3>
            <ol>
                <todo-item
                v-for="item in groceryList"
                v-bind:todo="item"
                v-bind:key="item.id">
            </todo-item>
            </ol>
        </div>

        <div id="watch">
            <h3>Vue.js Watch!</h3>
            <h5>Count : {{ test }}</h5>
            <button v-on:click="test +=1">Add +1</button>

        </div>

        <div id="computed">
            <h5>Computed: {{ test }}</h5>
            <button v-on:click="test +=1">Add +1</button>
        </div>

        <div id="class">
            <div 
            class="demo"
            @click="attachRed = !attachRed"
            :class="{red: attachRed, green: !attachRed}">1</div>

            <div 
            class="demo"
            :class="color">2</div>

            <div class="demo"
            :class="divClasses">3</div>
    

        <div>
            2번 상자의 색: <input type="text" v-model="color">
            </div>
        </div>

        <div id = "httptest">
            <button v-on:click="get">데이터 불러오기</button>
        </div>

        <div id = "httptitle">
            Title : {{ title }}
        </div>


        <script>
            var vue = Vue.component('todo-item', {
                props: ['todo'],
                template: '<li>{{todo.text}}</li>'
            })

            var component = new Vue({
                el: '#component',
                data: {
                    groceryList: [
                        { id: 0, text: '고추장'},
                        { id: 1, text: '고수'},
                        { id: 2, text: '오이'},
                        { id: 3, text: '할라피뇨'}                        
                    ]
                }
            })

            var count = { test: 0 };
            var compute = { test : 1 };

            var watch = new Vue({
                el : '#watch',
                data : count,
                created: function () {
                    console.log('test is: ' + this.test)
                }
            })

            watch.$watch('test', function(newVal, oldVal){
                if(newVal == 10){
                    alert('10회 누름!')
                }
            })

            var computed = new Vue({
                el : '#computed',
                data : compute,
                computed: {
                    hello : function(){                    
                    return test+1
                }
            }
        })

        new Vue({
            el: '#class',
            data: {
                attachRed: false,
                color: 'green'
            },
            computed: {
                divClasses: function() {
                    console.log("attachRed", this.attachRed)
                    console.log("color", this.color)
                    return {
                        red: this.attachRed,
                        green : !this.attachRed
                    }
                }
            }
        })

       var titletxt = { title : 'waiting...' };

       var changetitle =  new Vue({
            el: '#httptest',
            data : titletxt,
            methods: {
                get: function() {
                    axios.get('http://jsonplaceholder.typicode.com/posts')
                .then(function(response){
                    console.log("test", response)
                    if(response.status == 200){
                        console.log("200", response.data[2].title)
                        this.title = response.data[2].title
                        console.log("title: ", this.title)
                        //change
                        titletxt.title = this.title
                    }
                })
            }
        }
        })

        changetitle.$watch('test', function(title){
            console.log('watch', title)
        })

        var change = new Vue({
            el: '#httptitle',
            data : titletxt
        })

/*
        var change = new Vue({
            el: '#httptest',
            data: titletxt,
            computed: {
                changetitle: function() {
                    return titletxt.title
                }
            }
        })  
        */
        </script>
    </body>
</html>